        body {
            height: calc(100vh - 20px);
        }
.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}


        .menu {
            display: block !important;
            width:100%;
        }

        .menu>ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .menu>ul>li {
            float: left;
        }

        .menu>ul>li>span {
            font-size: 12px;
            line-height: 21px;
            cursor: pointer;
            padding: 4px 7px;
        }

        .menu>ul>li>image {
            height: 21px;
            width: 21px;
            padding: 4px 7px;
        }

        .menu .split {
            float: left;
            border-left: 1px solid #919191;
            height: 21px;
            margin: 0 5px 0 0px
        }

        .menu img.gravatar {
            float: left;
            margin: 2px 8px;
            height: 17px;
            width: 17px;
            border-radius: 9px;
        }

        .menu {
            cursor: default;
            background: #F0F0F0;
            box-shadow: 0 1px 0 0 #E7E7E7 inset;
            border-bottom: 1px solid #919191;
        }

        .menu>ul>li>span {
            color: #000;
            text-shadow: 0px 1px 0px #efefef;
        }

        .menu>ul>li.selected {
            background-color: #cfcfcf;
            box-shadow: 1px 0 0 0 #b6b6b6 inset, 1px 0 0 0 #b6b6b6, 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
            color: #393939;
        }
        .menu>ul>li:hover {
            background-color: #cfcfcf;
            box-shadow: 1px 0 0 0 #b6b6b6 inset, 1px 0 0 0 #b6b6b6, 0 1px 0 0 rgba(255, 255, 255, 0.15) inset;
            color: #393939;
        }
        .menu .split {
            border-color: #b6b6b6;
        }
        .sidebar {
            float: left;
            width: 200px;
            height: calc(100vh - 50px);
            background-color: #888;
            color: #FED;
        }

        .sidebar li {
            cursor: default;
        }

        .sidebar li:hover {
            background-color: #AAA;
        }

        .canvas {
            float: left;
            width: calc(100% - 200px);
            height: calc(100vh - 50px);
            overflow-y: auto;
            overflow-x: auto;
            background-color: #EEE;
        }

